.bgvideo {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transition: 1s ease all;
}

section.inner-ajax {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.bgvideo video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.bgvideomask {
    clip-path: circle(60px at center);
    -webkit-clip-path: circle(60px at center);
    /* position: absolute; */
    /* height: 100px; */
    /* width: 100px; */
    /* left: 0; */
    /* top: 0; */
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.bgvideo.bg2 {
    opacity: 1;
}

.svg {
    display: block;
    width: 853px;
    height: 480px;
    margin: 2em auto;
}

text {
    font: bold 5.3em/1 Arvo, Arial sans-serif;
}

svg mask rect {
    fill: rgba(255, 255, 255, 0.9);
}

svg > rect, svg > circle {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

img {
    /* -webkit-mask-image: url(../img/mask.png); */
}

.bgvideo2 {
    -webkit-filter: invert(0.9);
}

.bgvideo.bgvideo2 video {
    -webkit-clip-path: ellipse(150px 150px at 50% 45%);
    clip-path: ellipse(150px 150px at 50% 45%);
}

html, body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.over-text {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 30;
    left: calc(50% - 200px);
    top: calc(45% - 51px);
}

.over-text:before {
    content: '';
    position: absolute;
    width: 350px;
    height: 87px;
    background: rgba(255,255,255,0.4);
    -webkit-mask-image: url(../img/mask.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    left: 24px;
    top: 8px;
}

.over-text img {
    width: 200px;
    left: 50%;
    position: absolute;
    top: 50%;
    margin: -50px 20px;
}

nav.menu {
    position: absolute;
    height: 80px;
    width: 100vw;
    top: 0;
    background: rgba(255,255,255,1);
    z-index: 100;
    transition: 1s ease all;
}

/*
  menu icon css3
*/
.menu-icon {
    position: absolute;
    top: 30px;
    display: block;
    width: 2em;
    height: 2em;
    cursor: pointer;
    /* to center */
    margin: 0 auto;
    float: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    right: 50%;
    z-index: 200;
}

.menu-icon:after {
    content: 'MENU';
    /* font-family: 'Satisfy', cursive; */
    margin-left: 40px;
    font-size: 12px;
    font-weight: bold;
}

.menu-icon.open:after {
    content: 'CLOSE';
    margin-left: 40px;
}

.menu-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: -0.5em;
    background-color: #000000;
    border-radius: 3px;
}

.menu-icon > span:before, .menu-icon > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-icon > span:before {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.menu-icon > span:after {
    -webkit-transform: translateY(10px);
    translateY(10px): translateY(1em);
}

/* OPENED */
.menu-icon.open {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-icon.open > span:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-icon.open > span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

nav.menu.menu-op {
    height: 80vh;
}

nav.menu.menu-op ul {
    opacity: 1;
    visibility: visible;
}

.bgvideo.bg-gray {
    -webkit-filter: grayscale(100%);
}

nav ul {
    position: absolute;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    font-size: 12px;
    right: 0;
    font-weight: 700;
    padding: 0;
    opacity: 1;
    transition: 500ms ease all;
}

.wraper.mountains-bg {
    left: -30vw;
    margin-top: 0;
    top: 50%;
    width: 160vw;
    height: 70vw;
}

.wraper.mountains-bg img {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    transform: scale(1.8);
}

.idenitiy {
    display: flex;
    align-items: center;
}

.idenitiy {
    height: 100%;
}

.idenitiy img {
    height: 70%;
    margin-left: 20px;
}

.radar-wrap {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 50px;
}

main.scss:3018 .radar-wrap {
    width: 75px;
    height: 75px;
    bottom: 9vw;
    left: 3vw;
}

main.scss:716 .pos-a {
    position: absolute;
}

.pos-a-t-l {
    position: absolute;
    top: 0;
    left: 0;
}

main.scss:720 .full-size, .js-full-size {
    width: 100%;
    height: 100%;
}

.radar-items li:nth-child(1) {
    -webkit-transform: rotate(-81deg);
    -moz-transform: rotate(-81deg);
    -ms-transform: rotate(-81deg);
    -o-transform: rotate(-81deg);
    transform: rotate(-81deg);
}

.radar-items li {
    position: absolute;
    width: 3px;
    height: 3px;
    margin: -1.5px 0 0 -1.5px;
    top: 50%;
    left: 50%;
}

main.scss:3042 .radar-items li {
    position: absolute;
    width: 3px;
    height: 3px;
    margin: -1.5px 0 0 -1.5px;
    top: 50%;
    left: 50%;
}
.radar-items li:nth-child(1)::before {
    margin-top: -26px;
}
.radar-items li:nth-child(2)::before {
    margin-top: 26px;
}
.radar-items li:nth-child(3)::before {
    margin-top: -16px;
}
.radar-items li:nth-child(4)::before {
    margin-top: -30px;
}
.radar-items li:nth-child(5)::before {
    margin-top: -35px;
}
.radar-items li:nth-child(6)::before {
    margin-top: -20px;
}
.radar-items li:nth-child(7)::before {
    margin-top: -27px;
}

.radar-items li:nth-child(1) {
    -webkit-transform: rotate(-81deg);
    -moz-transform: rotate(-81deg);
    -ms-transform: rotate(-81deg);
    -o-transform: rotate(-81deg);
    transform: rotate(-81deg);
}
.radar-items li:nth-child(2) {
    -webkit-transform: rotate(31deg);
    -moz-transform: rotate(31deg);
    -ms-transform: rotate(31deg);
    -o-transform: rotate(31deg);
    transform: rotate(31deg);
}
.radar-items li:nth-child(3) {
    -webkit-transform: rotate(-21deg);
    -moz-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
    -o-transform: rotate(-21deg);
    transform: rotate(-21deg);
}
.radar-items li:nth-child(4) {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg);
}
.radar-items li:nth-child(5) {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.radar-items li:nth-child(6) {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
.radar-items li:nth-child(7) {
    -webkit-transform: rotate(-41deg);
    -moz-transform: rotate(-41deg);
    -ms-transform: rotate(-41deg);
    -o-transform: rotate(-41deg);
    transform: rotate(-41deg);
}

.radar-items li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f3f2;
    border-radius: 4px;
}

.radar-items li:nth-child(2) {
    -webkit-transform: rotate(-92deg);
    -moz-transform: rotate(-92deg);
    -ms-transform: rotate(-92deg);
    -o-transform: rotate(-92deg);
    transform: rotate(-92deg);
}

.pos-a-t-l {
    position: absolute;
    top: 0;
    left: 0;
}

.sight {
    background: url('../img/radar-center.svg');
}

.rim {
    background: url('../img/radar-sight.svg') no-repeat 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.full-size {
    width: 100%;
    height: 100%;
}

.radar-ring.full-size.pos-a-t-l {
    background: url(../img/radar-rim.svg) no-repeat;
}
